@import '../../../color-variables.scss';

.search-bar-section {
  padding-bottom: 43px;

  @media (max-width: 1023px) {
    max-width: 90%;
    margin: 0 auto;
  }

  @media (max-width: 637px) {
    padding-bottom: 24px;
  }
}

.invalid-field {
  border: solid 1px $orange;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 51.5px auto 0;
  padding: 20px 24px;
  height: 64px;
  width: 100%;
  position: relative;

  background-color: $tertiary-grey;

  max-width: 736px;
  border-radius: 16px;

  transition: border 0.5s ease;

  &:focus-within {
    border: solid 1px $purple;
  }

  @media (max-width: 1023px) {
  }

  @media (max-width: 637px) {
    padding: 16px 24px;
    height: 48px;
    margin-top: 24px;
  }
}

.main-search {
  background-color: transparent;
  border: none;
  width: 90%;
  height: 24px;
  font-size: 1.25rem;
  font-weight: 700;

  &:focus {
    outline: none;
  }

  @media (max-width: 1023px) {
  }

  @media (max-width: 637px) {
    font-size: 1rem;
  }
}

.search-icon {
  cursor: pointer;
}

.invalid-message {
  color: $orange;
  position: absolute;
  bottom: -24px;
  display: none;
}


