@import '../../../color-variables.scss';


.search-bar-section {
  padding-bottom: 43px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 51.5px auto 0;
  padding: 20px 24px;

  background-color: $tertiary-grey;

  max-width: 736px;
  border-radius: 16px;
  border: none;

  transition: border 0.5s ease;

  &:focus-within {
    border: solid 1px $purple;
  }
}

.main-search {
  background-color: transparent;
  border: none;
  width: 90%;
  height: 24px;
  font-size: 1.25rem;
  font-weight: 700;

  &:focus {
    outline: none;
  }
}



.search-icon {
  cursor: pointer;
}
