@import '../../../color-variables.scss';

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 51.5px auto;
  padding: 20px 24px;

  background-color: $tertiary-grey;

  max-width: 736px;
  border-radius: 16px;

}

.main-search {
  background-color: transparent;
  border: none;
  width: 90%;
  height: 24px;
  font-size: 20px;
  font-weight: 700;

  &:focus {
    outline: none;
  }
}
