<section class="card-section">
  <div class="dict-container">
    <div class="play-word-container">
      <div class="word">
        <h2 class="heading-l" [@darkModeText]="darkMode()">Keyboard</h2>
        <span class="phonetic heading-m">/kibɔd/</span>
      </div>
      <div class="play-container">
        <svg class="play-icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 75 75">
          <g fill="#A445ED" fill-rule="evenodd">
            <circle cx="37.5" cy="37.5" r="37.5" opacity=".25"/>
            <path d="M29 27v21l21-10.5z"/>
          </g>
        </svg>
      </div>
    </div>
    <div class="noun-container">
      <div class="noun-title">
        <h3 class="heading-m" [@darkModeText]="darkMode()">noun</h3>
        <div class="line" [@darkModeLine]="darkMode()"></div>
      </div>
      <div class="meaning-container">
        <h3 class="heading-s">Meaning</h3>
        <ul>
          <li [@darkModeText]="darkMode()" class="body-m">
            (etc.) A set of keys used to operate a typewriter, computer etc.
          </li>
          <li [@darkModeText]="darkMode()" class="body-m">
            A component of many instruments including the piano, organ, and harpsichord consisting of usually black and white keys that cause different tones to be produced when struck.
          </li>
          <li [@darkModeText]="darkMode()" class="body-m">
            A device with keys of a musical keyboard, used to control electronic sound-producing devices which may be built into or separate from the keyboard device.
          </li>
        </ul>
      </div>
      <div class="synonyms-container">
        <h3 class="heading-s">
          Synonyms
        </h3>
        <span>
          electronic keyboard
        </span>
      </div>
      <div class="noun-title">
        <h3 class="heading-m" [@darkModeText]="darkMode()">verb</h3>
        <div class="line" [@darkModeLine]="darkMode()"></div>
      </div>
      <div class="meaning-container">
        <h3 class="heading-s">Meaning</h3>
        <ul>
          <li [@darkModeText]="darkMode()" class="body-m">
            To type on a computer keyboard.
          </li>
        </ul>
        <span class="body-m">
          “Keyboarding is the part of this job I hate the most.”
        </span>
      </div>
      <div class="source-container" [@darkModeLine]="darkMode()">
        <h4 class="body-s source-title">
          Source
        </h4>
        <a [@darkModeText]="darkMode()" class="body-s" href="">https://en.wiktionary.org/wiki/keyboard</a>
        <img ngSrc="./assets/images/icon-new-window.svg" alt="icon new windown" width="12" height="12">
      </div>
    </div>
  </div>
</section>
