@import '../../../typograph.scss';

.play-icon {
  cursor: pointer;
}

.play-word-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 736px;
  margin: 0 auto;

  .phonetic {
    color: $purple;
  }
}

.play-container {
  position: relative;
  width: 75px;
  height: 75px;
}

.play-icon {
  transition: fill 0.5s ease, opacity 0.5s ease;
}

.play-container:hover .play-icon circle {
  fill: #A445ED;
  opacity: 1;
}

.play-container:hover .play-icon path {
  fill: #FFFFFF;
  opacity: 1;
}

.noun-container {
  max-width: 736px;
  margin: 40px auto;

}

.noun-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.line {
  height: 14px;
  width: 656px;
  border-top: solid .3px $secondary-grey;
  margin-left: 20px;
}
