<section class="card-section">
  <div class="dict-container">
    <div class="play-word-container">
      <div class="word">
        <h2 class="heading-l" [@darkModeText]="darkMode()">Keyboard</h2>
        <span class="phonetic heading-m">/kibɔd/</span>
      </div>
      <div class="play-container">
        <svg class="play-icon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 75 75">
          <g fill="#A445ED" fill-rule="evenodd">
            <circle cx="37.5" cy="37.5" r="37.5" opacity=".25"/>
            <path d="M29 27v21l21-10.5z"/>
          </g>
        </svg>
      </div>
    </div>
    <div class="noun-container">
      <div class="noun-title">
        <h3 class="heading-m" [@darkModeText]="darkMode()">noun</h3>
        <div class="line" [@darkModeLine]="darkMode()"></div>
      </div>
    </div>
  </div>
</section>
