$primary-grey: #757575;
$secondary-grey: #E9E9E9;
$tertiary-grey: #F4F4F4;
$white: #FFFFFF;
$primary-black: #050505;
$secondary-black: #1F1F1F;
$tertiary-black: #2D2D2D;
$quaternary-black: #3A3A3A;
$purple: #A445ED;
$orange: #FF5252;
